*
!.gitignore
!Assembly-CSharp.dll
!Il2Cppmscorlib.dll
!Il2CppSystem.Core.dll
!Il2CppSystem.dll
!NinjaKiwi.Common.dll
!NinjaKiwi.LiNK.dll
!UnhollowerBaseLib.dll
!UnhollowerRuntimeLib.dll
!Unity.InputSystem.dll
!Unity.ResourceManager.dll
!Unity.TextMeshPro.dll
!UnityEngine.AnimationModule.dll
!UnityEngine.AssetBundleModule.dll
!UnityEngine.AudioModule.dll
!UnityEngine.CoreModule.dll
!UnityEngine.dll
!UnityEngine.Il2CppAssetBundleManager.dll
!UnityEngine.InputLegacyModule.dll
!UnityEngine.Il2CppImageConversionManager.dll
!UnityEngine.ImageConversionModule.dll
!UnityEngine.JSONSerializeModule.dll
!UnityEngine.TextRenderingModule.dll
!UnityEngine.UI.dll
!UnityEngine.UIElementsModule.dll
!UnityEngine.UIModule.dll
!Newtonsoft.Json.dll